<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.theme2.name }} // {{ page.title }}</title>
  <meta name="author" content="{{ site.theme2.name }}" />

  <link href="//fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png">
{% if site.theme2.social.rss %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.theme2.name }}" href="{{site.url}}/atom.xml" />
{% endif %}

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/all.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">

{% if page.mathjax %}
<!-- MathJax config below -->
<!-- Config reference: http://cwoebker.com/posts/latex-math-magic/ and http://docs.mathjax.org/en/latest/start.html#mathjax-cdn -->
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
            config: ["MMLorHTML.js"],
            extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
            jax: ["input/TeX"],
      tex2jax: {

        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        processEscapes: false
      }
    });

    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>
{% endif %}

</head>
<body>
  <div class="container">
    <div class="four columns sidebar">
      {% include sidebar.html %}
    </div>

    <div class="eleven columns content">
      <a href="{{ site.uberurl }}">about</a> // <a href="/">doc</a>
      <hr/>
      {{ content }}
      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
</html>
